mule/va4/src/main/app/va4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

<mulexml:namespace-manager>
    <mulexml:namespace prefix="ser"
                       uri="http://services.mgcoders.uy/"/>
    <mulexml:namespace prefix="soapenv"
                       uri="http://schemas.xmlsoap.org/soap/envelope/"/>                   
                       
    </mulexml:namespace-manager>


	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8181" doc:name="HTTP Listener Configuration" />
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="http://localhost:8080/stock-local/ServicioRecepcionStock?wsdl"
		service="ServicioRecepcionStockService" port="ServicioRecepcionStockPort"
		serviceAddress="http://localhost:8080/stock-local/ServicioRecepcionStock"
		doc:name="Web Service Consumer" />
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8080" basePath="pagos-ya" doc:name="HTTP Request Configuration"/>
    <data-mapper:config name="XML_To_CSV" transformationGraphPath="xml_to_csv.grf" doc:name="XML_To_CSV"/>
    <data-mapper:config name="CSV_To_Pojo" transformationGraphPath="csv_to_pojo.grf" doc:name="CSV_To_Pojo"/>


	<flow name="Stock">
		<!-- Expongo donde quiero, pasamanos -->
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/my/service" doc:name="HTTP" />
		<!-- El proxy muestra un wsdl local, pero pasa las llamadas al ws posta -->
		<cxf:proxy-service doc:name="CXF"
			namespace="http://services.mgcoders.uy/" payload="body" wsdlLocation="localWsdl.wsdl"
			service="ServicioRecepcionStockService" />
		<logger level="INFO" doc:name="Logger" />
		<ws:consumer config-ref="Web_Service_Consumer" operation="reservarProducto"
			doc:name="Web Service Consumer" />
		<!-- Se consume el ws posta -->
	</flow>

	<flow name="SoapToRest">
		<!-- Expongo donde quiero, pasamanos -->
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/my/pagosya" doc:name="HTTP" />
        <cxf:proxy-service namespace="http://services.mgcoders.uy/" service="ServicioPagoYaService" payload="body" wsdlLocation="pagosyaWsdl.wsdl" doc:name="CXF"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <mulexml:xml-to-object-transformer metadata:id="da127e9d-d141-47e2-ac9d-c458c5b5a126" doc:name="XML to Object"/>
        <logger  level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer metadata:id="59477b6f-cfc9-423c-b46d-5a079d8989d4" doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<!-- El proxy muestra un wsdl local, pero pasa las llamadas al ws posta -->
        <http:request config-ref="HTTP_Request_Configuration" path="/api/pagos/recepcion" method="POST" metadata:id="1674712f-a228-4ddd-af17-bfa6f9c2d9a8" doc:name="HTTP"/>
	</flow>
	
	<flow name="SoapToFTP">
		<!-- Expongo donde quiero, pasamanos -->
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/my/epuerto" doc:name="HTTP" />
        <cxf:proxy-service namespace="http://services.mgcoders.uy/" service="ServicioEPuertoService" payload="body" wsdlLocation="epuertoWsdl.wsdl" doc:name="CXF"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="Filename" value="&quot;#[xpath('//ser:colocarOrden/identificadorCompra').text]&quot;" doc:name="Variable Filename"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="XML_To_CSV" doc:name="XML To CSV"/>
        <response>
            <file:outbound-endpoint path="target/confirmacion" responseTimeout="10000" doc:name="File"/>
        </response>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="target/recepcion" outputPattern="#[flowVars.Filename]" responseTimeout="10000" metadata:id="80b3e6a2-dbb2-47dc-82da-862f0b4330ae" doc:name="File"/>
		<!-- El proxy muestra un wsdl local, pero pasa las llamadas al ws posta -->
	</flow>
    <flow name="ePuerto">
        <file:inbound-endpoint path="target/recepcion" responseTimeout="10000" doc:name="File"/>
        <file:outbound-endpoint path="target/confirmacion" responseTimeout="10000" doc:name="File"/>
    </flow>



</mule>
