mule/va4/src/main/app/va4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

	<mulexml:namespace-manager>
		<mulexml:namespace prefix="ser"
			uri="http://services.mgcoders.uy/" />
		<mulexml:namespace prefix="soapenv"
			uri="http://schemas.xmlsoap.org/soap/envelope/" />

	</mulexml:namespace-manager>


	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8181" doc:name="HTTP Listener Configuration" />
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="http://localhost:8080/stock-local/ServicioRecepcionStock?wsdl"
		service="ServicioRecepcionStockService" port="ServicioRecepcionStockPort"
		serviceAddress="http://localhost:8080/stock-local/ServicioRecepcionStock"
		doc:name="Web Service Consumer" />
	<http:request-config name="HTTP_Request_Configuration"
		host="localhost" port="8080" basePath="pagos-ya" doc:name="HTTP Request Configuration" />
	<data-mapper:config name="CSV_To_Pojo"
		transformationGraphPath="csv_to_pojo.grf" doc:name="CSV_To_Pojo" />
	<data-mapper:config name="CSV_To_Pojo_1"
		transformationGraphPath="csv_to_pojo_1.grf" doc:name="CSV_To_Pojo_1" />
	<data-mapper:config name="Pojo_To_CSV"
		transformationGraphPath="pojo_to_csv.grf" doc:name="Pojo_To_CSV" />
	<data-mapper:config name="CSV_To_Pojo_1CSV_To_Pojo_2"
		transformationGraphPath="csv_to_pojo_2.grf" doc:name="CSV_To_Pojo_1CSV_To_Pojo_2" />
	<data-mapper:config name="CSV_To_Pojo_1CSV_To_Pojo_2CSV_To_Pojo_3"
		transformationGraphPath="csv_to_pojo_3.grf" doc:name="CSV_To_Pojo_1CSV_To_Pojo_2CSV_To_Pojo_3" />
	<data-mapper:config name="JSON_TO_XML"
		transformationGraphPath="json_to_xml.grf" doc:name="JSON_TO_XML" />
	<file:connector name="File" autoDelete="true" streaming="false"
		validateConnections="true" doc:name="File" />
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <data-mapper:config name="JMS_XML_To_XML" transformationGraphPath="jms_xml_to_xml.grf" doc:name="JMS_XML_To_XML"/>
    <data-mapper:config name="JMS_XML_To_XML_1" transformationGraphPath="jms_xml_to_xml_1.grf" doc:name="JMS_XML_To_XML_1"/>
    <data-mapper:config name="PUB_SUB_XML_To_XML" transformationGraphPath="pub_sub_xml_to_xml.grf" doc:name="PUB_SUB_XML_To_XML"/>
    <data-mapper:config name="XML_To_CSV" transformationGraphPath="xml_to_csv.grf" doc:name="XML_To_CSV"/>


	<flow name="StockLocal">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/esb/stock" doc:name="HTTP" 
			doc:description="Escucho en localhost:8181/esb/stocklocal"/>
		<cxf:proxy-service doc:name="CXF"
			namespace="http://services.mgcoders.uy/" payload="body" wsdlLocation="localWsdl.wsdl"
			service="ServicioRecepcionStockService"
			doc:description="Proveo contrato soap"/>
		<logger level="INFO" doc:name="Logger" />
		<ws:consumer config-ref="Web_Service_Consumer" operation="reservarProducto"
			doc:name="Web Service Consumer" 
			doc:description="Reenvio llamadas a soap provisto por sistema de Stock Local"/>
	</flow>

	<flow name="PagosYa">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/esb/pagosya" doc:name="HTTP" 
			doc:description="Escucho en localhost:8181/esb/pagosya"/>
		<cxf:proxy-service namespace="http://services.mgcoders.uy/"
			service="ServicioRecepcionPagosService" payload="body"
			wsdlLocation="ServicioRecepcionPagos.wsdl" doc:name="CXF" 
			doc:description="Proveo contrato soap"/>
        <json:xml-to-json-transformer doc:name="XML to JSON" doc:description="Convierto de Xml a Json"/>
		<set-payload value="#[json:ns1:recepcionPago]" doc:name="Set Payload" 
			doc:description="Bajo un nivel en los elementos json"/>
        <set-payload value="#[json:recepcionPago]" doc:name="Set Payload"/>
		<set-payload
			value="{&quot;idCompra&quot;:&quot;#[json:idCompra]&quot;,&quot;numeroTarjeta&quot;:&quot;#[json:numeroTarjeta]&quot;,&quot;monto&quot;:&quot;#[json:monto]&quot;,&quot;fecha&quot;:&quot;#[json:fecha]&quot;}"
			metadata:id="47fd0e15-c005-4db0-90b5-44d7885135d6" doc:name="Set Payload"
			mimeType="application/json" 
			doc:description="Hago el mapeo necesario"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration"
			path="/api/pagos/recepcion" method="POST"
			metadata:id="1674712f-a228-4ddd-af17-bfa6f9c2d9a8" doc:name="HTTP"
			doc:description="Invoco servicio Rest">
			<http:success-status-code-validator
				values="0..599" />
		</http:request>
        <response>
            <data-mapper:transform config-ref="JSON_TO_XML" doc:name="Json To XML" doc:description="Convierto respuesta de Json a Xml"/>
            <json:xml-to-json-transformer doc:name="XML to JSON"/>
            <set-payload value="#[json:object]" doc:name="getObject"/>
            <set-payload value="&lt;ns1:recepcionPagoResponse xmlns:ns1=&quot;http://services.mgcoders.uy/&quot;&gt;&lt;return xmlns:ns2=&quot;http://services.mgcoders.uy/&quot;&gt;&lt;status&gt;#[json:status]&lt;/status&gt; &lt;message&gt;#[json:mensaje]&lt;/message&gt;&lt;idConfirmacionPago&gt;#[json:idConfirmacionPago]&lt;/idConfirmacionPago&gt; &lt;/return&gt;&lt;/ns1:recepcionPagoResponse&gt;" doc:name="recepcionPagoResponse"/>
        </response>
	</flow>


	<flow name="EPuerto">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/esb/epuerto" doc:name="HTTP"
			doc:description="Escucho en localhost:8181/esb/epuerto"/>
		<cxf:proxy-service namespace="http://services.mgcoders.uy/"
			service="ServicioEPuertoService" payload="body" wsdlLocation="epuerto.wsdl"
			doc:name="CXF"
			doc:description="Proveo contrato soap"/>
		<mulexml:dom-to-xml-transformer
			doc:name="DOM to XML" 
			doc:description="Paso a Xml String"/>
		<choice doc:name="Choice">
			<when expression="#[xpath('fn:count(//ser:colocarOrden)') != 0]">
				<flow-ref name="EpuertoColocarOrden" doc:name="EpuertoColocarOrden"
					doc:description="Redirijo a Colocar Orden"/>
			</when>
			<when expression="#[xpath('fn:count(//ser:anularOrden)') != 0]"> 
				<flow-ref name="EPuertoAnularOrden" doc:name="EpuertoAnularOrden"
					doc:description="Redirijo a Anular Orden"/>
			</when> 
			<otherwise>
                <set-payload value="ERROR" doc:name="ERROR"/>
			</otherwise>
		</choice>
        <response>
            <mulexml:object-to-xml-transformer metadata:id="77e432e9-a4db-47f3-9251-1fa83cf83478" doc:name="Object to XML" doc:description="Transformo Respuesta a Xml"/>
        </response>
	</flow>


	<sub-flow name="EpuertoColocarOrden" 
		doc:description="Se procesa Colocar Orden de Epuerto">
		<set-variable variableName="identificadorCompra"
			value="#[xpath3('//ser:colocarOrden/orden/lineas/identificadorCompra')]" doc:name="idCompra"
			doc:description="Guardo el identificador de compra" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="XML_To_CSV" doc:name="XML To CSV"/>
		<file:outbound-endpoint path="target/recepcion"
			outputPattern="#[flowVars.identificadorCompra].csv" responseTimeout="10000"
			doc:name="Recepcion" 
			doc:description="Guardo en carpeta Recepcion"/>
		<data-mapper:transform config-ref="CSV_To_Pojo_1"
			doc:name="CSV To Pojo" 
			doc:description="Paso a Objeto Java"/>
		<component doc:name="Java" class="va4.EpuertoConfirmacion" 
			doc:description="Bean que procesa la solicitud"/>
        <set-variable variableName="identificadorReserva" value="#[payload.identificadorReserva]" 
        	doc:name="idReserva"
        	doc:description="Guardo el identificador de la Reserva"/>
		<data-mapper:transform config-ref="Pojo_To_CSV"
			doc:name="Pojo To CSV" 
			doc:description="Convierto confirmacion de reserva en CSV"/>
		<file:outbound-endpoint responseTimeout="10000"
			doc:name="Confirmacion" connector-ref="File" path="target/confirmacion"
			outputPattern="#[flowVars.identificadorReserva].csv" 
			doc:description="Guardo en carpeta Confirmacion"/>
		<data-mapper:transform config-ref="CSV_To_Pojo_1CSV_To_Pojo_2CSV_To_Pojo_3"
			doc:name="CSV To Pojo"
			doc:description="Paso a Objeto nuevamente para la respuesta" />
	</sub-flow>
	
    <sub-flow name="EPuertoAnularOrden" 
    	doc:description="Se procesa Anular Orden de Epuerto">
        <set-variable variableName="identificadorReservaAnular" value="#[xpath3('//ser:anularOrden/identificadorReserva')]" doc:name="idReserva" 
        doc:description="Guardo identificador Reserva"/>
        <file:outbound-endpoint path="target/anulacion" connector-ref="File" responseTimeout="10000" doc:name="Anulacion" outputPattern="#[flowVars.identificadorReservaAnular].csv" 
        doc:description="Guardo el Archivo en carpeta Anulacion"/>
        <set-payload value="OK" doc:name="OK"/>
    </sub-flow>
    
    <flow name="PublishSuscribe">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/esb/pubsub" doc:name="HTTP"
        	doc:description="Escucho en localhost:8181/esb/pubsub"/>
        <cxf:proxy-service configuration-ref="CXF_Configuration" payload="body" doc:name="CXF" 
        	namespace="http://services.mgcoders.uy/" service="AnularViaPSService" wsdlLocation="AnularViaPS.wsdl"
        	doc:description="Proveo contrato soap"/>
        <response>
            <set-payload value="OK" doc:name="Set Payload" doc:description="Contesto OK"/>
            <mulexml:object-to-xml-transformer doc:name="Object to XML" doc:description="Transoformo a xml para response valida"/>
        </response>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"
        	doc:description="Paso de DOM a XML para ir a JMS"/>
        <jms:outbound-endpoint topic="publishAnulacion" connector-ref="Active_MQ" doc:name="JMS"
        	doc:description="Dejo el Mensaje en un Topic de ActiveMQ">
            <jms:transaction action="NONE"/>
        </jms:outbound-endpoint>
    </flow>
    <flow name="SubscriptorEpuerto">
        <jms:inbound-endpoint topic="publishAnulacion" doc:name="JMS"
        	doc:description="Recibo Mensaje del Topic">
            <jms:client-ack-transaction action="NONE"/>
        </jms:inbound-endpoint>
        <expression-filter expression="#[xpath3('/ser:anularReservas/servicio/text()') == 'ePuerto']" 
        	doc:name="Filtro Epuerto"
        	doc:description="Filtro si no es para mi"/>
        <data-mapper:transform config-ref="PUB_SUB_XML_To_XML" doc:name="PUB SUB XML To XML"
        	doc:description="Tranformo para que quede adecuado para Epuerto"/>
        <flow-ref name="EPuertoAnularOrden" doc:name="EPuertoAnularOrden"
        	doc:description="Mando a Epuerto como si hubiera llegado por WebService"/>
    </flow>

</mule>
